{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="content-card mt-5">
            <h1 class="text-center mb-4">Cadastro</h1>
            <form id="register-form">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="register-email" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="register-password" name="password" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </form>
            <div class="text-center mt-3">
                <span>Já tem uma conta? <a href="{{ url_for('login') }}">Entre</a></span>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('register-form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const nome = document.getElementById('name').value;
        const email = document.getElementById('register-email').value;
        const cpf = document.getElementById('cpf').value;
        const senha = document.getElementById('register-password').value;
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        try {
            const response = await fetch('/cadastrar_cliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ nome, email, cpf, senha }),
            });
            const data = await response.json();
            if (response.ok) {
                alert(data.message);
                window.location.href = "{{ url_for('login') }}";
            } else {
                alert(data.message);
            }
        } catch (error) {
            alert('Erro ao conectar com o servidor.');
        }
    });
</script>
{% endblock %}
