<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thalium Bank - Transferências</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/background.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="header">
        <div class="back-button-container">
        <a href="javascript:history.back()" class="back-button">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
         <div class="icons">
            <div class="dropdown">
                <i class="fas fa-cog" onclick="toggleDropdown()"></i>
                <div id="dropdownMenu" class="dropdown-content">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="content">
        <div class="transfer-section">
            <h2>Transferir</h2>
            <form action="{{ url_for('transferir') }}" method="POST">
                {{ form.hidden_tag() }}

                <label for="recipient">{{ form.recipient_email.label }}</label>
                {{ form.recipient_email(placeholder="E-mail da conta") }}
                {% for error in form.recipient_email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                <label for="amount">{{ form.amount.label }}</label>
                {{ form.amount(placeholder="R$ 0,00") }}
                {% for error in form.amount.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                <label for="description">{{ form.description.label }}</label>
                {{ form.description(placeholder="Descrição (opcional)") }}

                {{ form.submit() }}
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
