<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thalium Bank - Histórico de Transações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/background.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <div class="header">
        <div class="back-button-container">
            <a href="javascript:history.back()" class="back-button">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
        <div class="icons">
            <div class="dropdown">
                <i class="fas fa-cog" onclick="toggleDropdown()"></i>
                <div id="dropdownMenu" class="dropdown-content">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
        <div class="account-balance">
            <h2>Realizar Depósito</h2>
            <section class="deposit-form-container">
                <form id="depositoForm" action="{{ url_for('main.deposito') }}" method="post">
                    <input type="text" name="valor" placeholder="Valor do Depósito" required>
                    <button type="submit">Depositar</button>
                </form>
                <div id="message"></div>
            </section>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
