<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="bank-app-login" style="background-image: url('{{ url_for('static', filename='images/background.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">

    <!-- Contêiner de popup de erro -->
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    <div class="container">
        <h1>Login</h1>
            <form id="login-form" method="POST" action="{{ url_for('auth.login') }}">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

            <button type="submit">Entrar</button>
        </form>
        <div class="toggle-link">
            <span>Não tem uma conta? <a href="{{ url_for('auth.cadastro') }}">Cadastre-se</a></span>
        </div>
    </div>

    <script>
        function closePopup() {
            document.getElementById('errorPopup').style.display = 'none';
        }
    </script>
</body>
</html>
